/* General Reset */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  color: aliceblue;
} */
 body{
    background: none;
 }
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 .home{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
 }

/* Navbar */
.navbar {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  background: #2563eb;
  color: white;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: yellow;
}

/* Hero Section */
.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: white;
  text-align: center;
  /* padding: 20px; */
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: yellow;
  color: black;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: gold;
}

/* About Section */


/* Verify Section */


/* Contact Section */




/* Footer */
.footer {
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 15px;
}
